
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<footer class="footer fixed-bottom text-center" style="background-color: black; display: none;">
  <div style="border: 1px solid white; border-radius: 5px; padding: 1vh; display: inline-block;">
    <h1 class="text-light" style="font-size: undefined; vertical-align: middle; display: inline;">This site doesn't use cookies. Why would it?</h1>
    <button class="btn btn-sm" type="button" onclick="hideFooter()" style="margin-left: 1vh; height: undefined0.5vh; vertical-align: middle; padding: 0 undefined; line-height: undefined;">OK</button>
  </div>
</footer>
<script>
  function hideFooter() {
    // Hide footer
    var footer = document.querySelector("footer");
    footer.style.display = `none`;
  
    // Store the acknowledgement in local storage
    localStorage.setItem("footerAcknowledged", "true");
  }
  
  // Check if footer is acknowledged and hide it if they have
  window.onload = function() {
    var acknowledged = localStorage.getItem("footerAcknowledged");
    if (!acknowledged) {
        var footer = document.querySelector("footer");
        footer.style.display = `block`
    }
  };
</script>