
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<footer class="footer fixed-bottom text-center" style="background-color: transparent; display: none;">
  <div style="border-bottom: 2px solid undefined; margin-bottom: 1vh"></div>
  <div>
    <h1 class="text-light" style="display: inline; font-size: undefined; vertical-align: middle;">This site doesn't use cookies. Why would it?</h1>
    <button class="btn btn-sm" type="button" onclick="hideFooter()" style="color: white; background-color: undefined; margin-left: 1vh; height: undefined1vh; vertical-align: middle; padding: 0 undefined; line-height: undefined1vh;">OK</button>
  </div>
  <div style="margin-bottom: 1vh"></div>
</footer>
<script>
  function hideFooter() {
    // Hide footer
    var footer = document.querySelector("footer");
    footer.style.display = `none`;
  
    // Store the acknowledgement in local storage
    localStorage.setItem("footerAcknowledged", "true");
  }
  
  // Check if footer is acknowledged and hide it if it is
  window.onload = function() {
    var acknowledged = localStorage.getItem("footerAcknowledged");
    if (!acknowledged) {
        var footer = document.querySelector("footer");
        footer.style.display = `block`
    }
  };
  
    
</script>