
<style>
  body {
      background: black;
      font-family: 'aldrich', monospace;
  }
  
  html {
      ::-webkit-scrollbar {
          display: none; /* Chrome, Safari */
      }
      -ms-overflow-style: none; /* IE, Edge */
      scrollbar-width: none; /* Firefox */
  }
  
  .btn {
        background-color: black;
        color: #0E57ED; 
        border: 2px solid #0E57ED;
        display: inline-block;
    }
  
    .btn:hover {
        transform-origin: center;
        color: #0E57ED;
        border: 2px solid white;
    }
</style>