footer.footer.fixed-bottom.text-center
  div
    h1.text-light This site doesn't use cookies. Why would it?
    button#cookie-button(
      type=`button`
      onclick=`hideFooter()`
    ) OK

script.
  function hideFooter() {
    var footer = document.querySelector(`footer`);
    footer.style.display = `none`;
    localStorage.setItem(`footerAcknowledged`, `true`);
  }

  window.onload = function() {
    var acknowledged = localStorage.getItem(`footerAcknowledged`);
    if (!acknowledged) {
      var footer = document.querySelector(`footer`);
      footer.style.display = `block`;
    }
  };
