footer.footer.fixed-bottom.text-center
  div
    h1.text-light This site doesn't use cookies. Why would it?
    button#cookie-button(
      type=`button`
      onclick=`hideFooter()`
    ) OK

script(src='/pug/scripts/banner.js')
