//- footer.footer.fixed-bottom
//-   .container-fluid
//-     .row
//-       .col-12
//-         div(style="border-bottom: 2px solid blue;")
//-     .row
//-       .col-12.d-flex.justify-content-center
//-         div(style="background-color: black; text-align: center; padding: 10px;")
//-           a(href="#") Contact

script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
