include variables.pug

style.
    body {
        background: black;
        font-family: 'aldrich', monospace;
    }
    
    html {
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari */
        }
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
    }

    .btn.btn1 {
        background-color: black;
        color: #{color}; 
        border: 2px solid #{color};
        display: inline-block;
    }

    @media (hover: hover) and (pointer: fine) {
        .btn.btn1:hover {
            transform-origin: center;
            color: #{color};
            border: 2px solid white;
        }
    }


    

    