include variables.pug

style.
    body {
        background: black;
        font-family: 'aldrich', monospace;
    }
    
    html {
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari */
        }
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
    }

    .btn {
          background-color: black;
          color: #{color}; 
          border: 2px solid #{color};
          margin-bottom: 4vh;
          margin-left: 2vh;
          margin-right: 2vh;
          display: inline-block;
      }

      .btn:hover {
          transform-origin: center;
          color: #{color};
          border: 2px solid white;
      }

    

    