body {
    background: black;
    font-family: 'Share Tech Mono', monospace;
}

#game-board {
    background: transparent;
    width: 40vw;
    height: 30vw;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.column {
    width: 11%;
    height: 100%;
    display: inline-block;
}

.column:hover circle.free {
    fill: #94999c;
}

circle.free {
    fill: #bbb8b8;
}

circle.red {
    fill: #D50000;
}

circle.yellow {
    fill: #DAD400;
}

@media screen and (max-width: 1000px) {
    #game-board {
        width: 90%;
        height: 60vw;
    }
}

  