
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" href="/res/images/favicon.png" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/res/images/favicon.png" sizes="180x180"/>
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css"/>
<script src="/res/bootstrap/js/bootstrap.bundle.min.js"></script>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data: https:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline';"/>