doctype html
head
    title Car | ikgron
    include ../partials/head.pug

.bg(style='background-image: url(/images/deepslate_bricks.png);')
.vignette
.content
    include ../partials/navbar.pug

    h1.text-light.text-center(style="font-family: 'Share Tech Mono', monospace; margin-top: 11vh; font-size: 5rem") Car
    h2.text-light.text-center 2010 Lexus ES350
    h4.text-light.text-center Satin Cashmere Metallic
    h4.text-light.text-center 2GR-FE 3.5L V6 6 Speed Automatic with Overdrive

    #imageCarousel.carousel.slide.mt-1(data-ride='carousel' data-interval='3000')
        .carousel-inner
            //- Slide 1
            .carousel-item.active
                .d-flex.justify-content-center.align-items-center(style='height: 55vh;')
                    img.d-block.mx-auto(src='/images/car.png' alt='Car 1' style='max-width: 90%;')
            //- Slide 2
            .carousel-item
                .d-flex.justify-content-center.align-items-center(style='height: 55vh;')
                    img.d-block.mx-auto(src='/images/car1.png' alt='Car 2' style='max-width: 90%;')
            //- Slide 3
            .carousel-item
                .d-flex.justify-content-center.align-items-center(style='height: 55vh;')
                    img.d-block.mx-auto(src='/images/car2.png' alt='Car 3' style='max-width: 90%;')

//- swipe through pictures
script.
    var touchStartX = null;
    var intervalId = null;

    var carousel = $('#imageCarousel');

    $(document).ready(function () {
    startCarouselInterval();
    });

    function startCarouselInterval() {
    intervalId = setInterval(function () {
    carousel.carousel('next');
    }, 4000);
    }
    
    // wait for touch
    carousel.on('touchstart', function (e) {
    touchStartX = e.originalEvent.touches[0].clientX;
    
    // restart interval when swiped
    clearInterval(intervalId);
    });
   
    // wait for swipe end
    carousel.on('touchend', function (e) {
    var touchEndX = e.originalEvent.changedTouches[0].clientX;
    if (touchStartX - touchEndX > 50) {
    carousel.carousel('next');
    } else if (touchStartX - touchEndX < -50) {
    carousel.carousel('prev');
    }
    
    // restart interval after swipe
    startCarouselInterval();
    });

include ../partials/scripts.pug

