include ../partials/variables.pug
doctype html
head
    title Work | ikgron
    include ../partials/head.pug

.bg
.content
  include ../partials/navbar.pug

  h1.text-light(style="margin-top: 11vh; font-size: 3rem; margin-left: 2vh") My Work

  h1.text-light(style="margin-top: 1vh; font-size: 1.5rem; margin-left: 2vh") Coming Soon

  div(style=`border-bottom: 2px solid ${color}; margin-top: 15vh;`)


include ../partials/scripts.pug

