doctype html
head
    title Checkers | ikgron
    include ../partials/head.pug

.bg(style='background-image: url(/images/deepslate_bricks.png);')
.vignette
.content
  include ../partials/navbar.pug

  h1.text-light.text-center(style="font-family: 'Share Tech Mono', monospace; margin-top: 11vh; font-size: 5rem") Checkers

  h1.text-light.text-center(style="font-family: 'Share Tech Mono', monospace; margin-top: 7vh; font-size: 2rem") Coming Soon

include ../partials/scripts.pug

