include /partials/variables.pug
doctype html
html(lang=`en`)
  head
    title Page Not Found
    include /partials/head.pug
    include /partials/styles.pug

    style.
      body {
        text-align: center;
      }

body
  include /partials/navbar.pug
  div.container

    h1.title 404

    h2 Are you sure you`re in the right place? Would you like to 
      a(href=`/`) go Home
      | ?

  hr

include /partials/scripts.pug
