include /partials/variables.pug
doctype html
html(lang="en")
head
  title Page Not Found
  include /partials/head.pug
  include /partials/styles.pug

.bg
.vignette
.content
  include /partials/navbar.pug
  - const currentPage = 'home'
  
            
  h1.text-light(style=`margin-top: 15vh; font-size: ${lfont}; margin-left: 2vh`) 404

  h1.text-light(style=`margin-top: 1vh; font-size: ${sfont}; margin-left: 2vh`) Are you sure you're in the right place? Would you like to 
    a(href='/', style='text-decoration: underline; color: ${color};') go Home
    | ?



  div(style=`border-bottom: 2px solid ${color}; margin-top: 15vh;`)


  div.

include /partials/scripts.pug
