doctype html
html(lang="en")
head
  title Home | ikgron
  include /partials/head.pug

.bg(style="background-color: black")
.vignette
.content
  include /partials/navbar.pug
  
            
  h1.text-light(style="font-family: 'Share Tech Mono', monospace; margin-top: 11vh; font-size: 3rem; margin-left: 1vh") Home

  h1.text-light(style="font-family: 'Share Tech Mono', monospace; margin-top: 1vh; font-size: 2rem; margin-left: 1vh") A personal website by ikgron

  div(style='border-bottom: 2px solid rgb(82, 82, 237); margin-top: 15vh;')


  div.

  

include /partials/scripts.pug
