doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Connect 4 | ikgron

        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/connect4/styles.css")
    body
        .bg(style="background-image: url(/images/deepslate_bricks.png);")
        .vignette
        .content
            //- Navbar
            nav.navbar.navbar-expand-lg.navbar-dark.fixed-top(style="background-color: #222;")
                a.navbar-brand(href="/") Home
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="/about/") About
                        li.nav-item
                            a.nav-link(href="/chess/") Chess
                        li.nav-item
                            a.nav-link(href="/connect4/") Connect 4

                //- Header
            h1.text-light.text-center(style="font-family: 'Share Tech Mono', monospace; margin-top: 7vh; font-size: 5rem") Connect 4

            - var numRows = 6;
            - var numCols = 7;
            #game-board.text-center
                - for (var col = 0; col < numCols; col++)
                    .column(id=`column-${col}`, data-x=col)
                        - for (var row = numRows - 1; row >= 0; row--)
                            svg(height="16.666%" width="100%", class=`row-${row}`)
                                circle(cx="50%" cy="50%" r="38%" stroke="#0B4E72" stroke-width="3" class="free")



        //- Bootstrap JS and jQuery Scripts
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        script(src="../index.js")
        script(src="./connect4.js")
