include ../partials/variables.pug
doctype html
html
  head
    title About | ikgron
    include ../partials/head.pug
    include ../partials/styles.pug

    style. 
      .container {
        text-align: center;
      }

body
  include ../partials/navbar.pug
  div.container
    h1.title About Me

    h2 Junior Software Developer

    h1.title About This Site
    h2
      a(href=`https://praser.net/source` target=`_blank`) Source Code

    h2
      a(href=`https://developer.mozilla.org/en-US/observatory/analyze?host=praser.net` target=`_blank`) Security

      

  hr

include ../partials/scripts.pug
